
  <%# affichage des discussions que j'ai créé  %>
  <div class="chatroom_users">
    <h3 class="mb-3 fw-bold">Mes communautés</h3>
    <div class="d-flex flex-row no-scrollbar mb-4 overflow-scroll">
      <div class="card-group-vf">
        <%= link_to "", new_chatroom_path, class: "card-group-vf__show-btn" %>
        <div class="card-group-vf__img new-chatroom">
          <%= image_tag("btn_new.png", alt: "add", class: "img_btn") %>
        </div>
        <div class="card-group-vf__label">
          <span>Ajouter</span>
        </div>
      </div>
      <% @my_chatrooms.each do |chatroom| %>
          <div class="card-group-vf mr-3">
            <%= link_to "", chatroom_path(chatroom), class: "card-group-vf__show-btn" %>
            <%= link_to chatroom_path(chatroom), class: "card-group-vf__delete-btn", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
              <i class="fa-solid fa-xmark" style="color: #ffffff;"></i>
            <% end %>
            <div class="card-group-vf__img">
              <%= cl_image_tag(chatroom.photo.key, class:"image-chat", alt: "Chatroom Image") if chatroom.photo.attached?%>
            </div>
            <div class="card-group-vf__label">
              <span><%= chatroom.title %></span>
            </div>
          </div>
      <% end %>
    </div>
  </div>

<%# affichage des discussions où je participe  %>
  <div class="chatroom_users">
    <h3 class="mb-3 fw-bold">Mes participations</h3>
      <div class="d-flex flex-row no-scrollbar mb-4 overflow-scroll">
        <% @user_chatrooms.each do |chatroom| %>
          <%= render "chatrooms/card", chatroom: chatroom %>
        <% end %>
      </div>
  </div>
  <%# affichage des articles que j'ai partagés  %>

  <%# <div class="shared-article"> %>
    <h3 class="mb-3 fw-bold">Mes articles partagés</h3>
    <div class="mb-4">
      <% @shared_articles.each do |article| %>
        <div class="card-article">
          <%= link_to article_path(article) do %>
            <div class="image-card">
              <p><%= image_tag article.image_url, style: 'width: 100%;' %></p>
              <div class="col category"><%= article.category&.name %></div>
            </div>

            <div class ="text-card p-2">
              <div class="title-card">
                <div><%= article.title%></div>
              </div>

                <div class="lire">
                  <% article.message_ids.each do |message| %>
                    <%= link_to Chatroom.find(Message.find(message).chatroom_id).title, chatroom_path(Message.find(message).chatroom_id) %></div>
                  <% end %>
            </div>
          <% end %>

        </div>
      <% end %>
    </div>
  <%# </div> %>


<div class="d-flex justify-content-center">
  <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "btn-group" %>
</div>
