<div id="message<%= message.id %>"id="messages-sender" class="d-flex flex-column" data-chatroom-subscription-message-id-value="<%= message.id %>"
  data-action="click->chatroom-subscription#comment"
  data-chatroom-subscription-target="comment">

    <% if message.response.present? || message.article_id %>
      <div class="comment-message mb-2">
          <div class="author-message">
              <%= message.response_author %>
              <p><%= message.response %></p>
          </div>

          <% if message.article_id %>
            <% article = Article.find(message.article_id)  %>
            <%= link_to article_path(message.article_id), class: "text-decoration-none" do %>
            <div class="img-article-chat">
              <%=image_tag article.image_url, crop: :fill;%>
            </div>
            <div class="chat-title-article">
              <%= article.title %>
            </div>
            <% end %>
          <% end %>
      </div>
    <% end %>
    <small p-3>
    <% time = ((Time.now - message.created_at) / 60).round %>
        <div class="author-message"><%= message.user.nickname %>:
          <%if time < 1 %>
            <%= "(Il y a moins d'une minute)" %>
          <% elsif time == 1 %>
            <%= "(Il y a #{time} minute)"%>
          <% elsif time < 60 %>
            <%= "(Il y a #{time} minutes)" %>
          <% elsif time < 1440 %>
            <%= "(Il y a #{time / 60} heures)" %>
          <% elsif time > 1440 %>
            <%= "(Il y a #{time /60} heures)"%>
          <%end%>
        </div>
      <p class="mb-0 message-p-chat" data-chatroom-subscription-target="messageContent"><%= message.content %></p>
    </small>


  <button class="btn comment-this-message" data-comment-message-target="button" data-action="click->chatroom-subscription#fillForm"><i class="fa-sharp fa-solid fa-reply fa-lg" style="color: #b4ccdf;;"></i></button>
</div>
