<div id="message<%= message.id %>" data-chatroom-subscription-message-id-value="<%= message.id %>"
  data-action="click->chatroom-subscription#comment"
  data-chatroom-subscription-target="comment">

    <div class="comment-message">
        <div class="author-message">
          <strong><%= message.response_author %></strong>
        </div>
        <p><%= message.response %></p>


        <% if message.article_id %>
          <% article = Article.find(message.article_id)  %>
          <%= link_to article_path(message.article_id), class: "text-decoration-none" do %>
          <div class="img-article-chat">
            <%=image_tag article.image_url, crop: :fill;%>
          </div>
          <div class="chat-title-article">
            <%= article.title %>
          </div>
          <% end %>
        <% end %>
    </div>
    <small>
        <strong class="author-message"><%= message.user.nickname %>: </strong>(<%= ((Time.now - message.created_at) / 60).round %> minutes)
    </small>
    <div class="message-p-chat">
      <p data-chatroom-subscription-target="messageContent"><%= message.content %></p>
    </div>


  <button class="btn comment-this-message" data-comment-message-target="button" data-action="click->chatroom-subscription#fillForm"><i class="fa-sharp fa-solid fa-reply fa-lg" style="color: #F40C0C;"></i></button>
</div>
