<div id="message<%= message.id %>" data-chatroom-subscription-message-id-value="<%= message.id %>"
  data-action="click->chatroom-subscription#comment"
  data-chatroom-subscription-target="comment">
  <div class="message-original">
      <strong><%= message.response_author %></strong>
      <p><%= message.response %></p>
  </div>
  <div class="comment-message">
    <small>
      <strong><%= message.user.nickname %></strong>
      <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
    </small>
    <p><%= message.content %></p>
  </div>
  <button class="btn d-none" data-comment-message-target="button" data-action="click->chatroom-subscription#fillForm" >Répondre</button>
</div>
  