<div class="container" >

  <p><%=  @article.title %></p>
 <%# <div class="image-show" style= "postion:relative;"> %>

  <div class="image-show" style="position:relative;">
    <%= image_tag @article.image_url, style: 'width: 100%;' %>
    <button style="position:absolute; top: 7px; right: 5px; border:none; background-color: transparent;" type="button" class="p-1 rounded-circle align-self-end" data-bs-toggle="modal" data-bs-target="#shareModal-<%=@article.id%>">
      <%# <i class=“fa-solid fa-share”></i> %>
      <div class="button-share-show">
        <%= image_tag("btn_share.svg") %>
      </div>
    </button>
  </div>

  <%# </div> %>

  <div class="summary" data-controller="article-summary"
    data-article-summary-summary-value="<%= @article.summary %>"
    data-article-summary-long-summary-value="<%= @article.long_summary %>"
    data-article-summary-path-value="<%= fetch_summary_article_path(@article) %>">


    <div class="wrapper-date-summary">
      <div><%= @article.date_article %></div>
      <div class="source">
        <%= link_to @article.source.truncate(20), @article.article_url %>
      </div>

      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" data-action="click->article-summary#toggleSummary">
        <label class="form-check-label" for="flexSwitchCheckDefault">résumé</label>
      </div>
    </div>

    <div>
      <div class="d-none" data-article-summary-target="summaryContainer"></div>
      <div class="d-none" data-article-summary-target="longSummaryContainer"></div>
      <div class="text-center d-flex flex-column align-items-center" data-article-summary-target="spinner">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
        <span>Nous résumons votre article...</span>
      </div>
    </div>
  </div>
</div>





  <%# <div class="text-center"> %>
    <%#= link_to @article.article_url do %>
      <%# <i class="fa-solid fa-circle-plus fa-xl" style="color: #f20202;"></i> %>
    <%# end %>
  <%# </div> %>

  <button type="button" class="p-1 rounded-circle align-self-end bubble-share" data-bs-toggle="modal" data-bs-target="#shareModal-<%=@article.id%>">
      <%# <i class="fa-solid fa-share"></i> %>
      <%= image_tag("btn_share.svg") %>
  </button>

    <div class="modal fade" id="shareModal-<%=@article.id%>" tabindex="-1" aria-labelledby="shareModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-bottom">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="shareModalLabel">Partage ton article</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="modal-card-article">
              <div class="image-card">
                <%# if article.image_url  %>
                <%= image_tag @article.image_url, crop: :fill, style:"width: 100%";%>
                <%# else image par defaut %>
                <%# end %>
              </div>
              <div class="modal-title-card mt-2">
                <p><%= @article.title %></p>
              </div>
              <div class="modal-description-card">
                  <%# if article.description %>
                  <p><%= @article.description.truncate(150) %></p>
                  <%# end %>
              </div>
            <div data-controller="share-article">
              <%#= select(:chatroom, :id, current_user.chatrooms.pluck(:title, :id)) %>
              <%= simple_form_for("", url: "") do |f| %>
                <%= f.input :chatroom,
                  collection: Chatroom.pluck(:title, :id),
                  input_html: {data: {action: 'change->share-article#setChatroom'}},
                  include_blank: "Sélectionne ton groupe",
                  label: false %>
              <% end %>
              <%= simple_form_for(:message, url: "", html: {data: {share_article_target:"commentForm"}}) do |f| %>
                <%= f.input :content, as: :text, label: false, placeholder: "Ajoute un commentaire.." , wrapper_html:{id: "message-modal"} %>
                <%= f.input :article_id, input_html: {value: @article.id}, wrapper_html:{class: "d-none"} %>
                <%= f.submit "Partager l’article", style:"width: 100%; height: 50px; border-radius: 8px;" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
