<div class="chatroom"
<%# data-controller="comment-message" %>
  data-controller="chatroom-subscription comment-message"
  data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>"
  data-chatroom-subscription-current-user-id-value="<%= current_user.id %>">

<div class="chat-title">

  <div class="img-groupe-title">

    <% if @chatroom.photo.attached? %>
    <%= cl_image_tag @chatroom.photo.key %>
    <%end%>

    <div class="groupe-title">
    <h1><%= @chatroom.title %></h1>
    </div>
  </div>

</div>


  <div class="messages" data-chatroom-subscription-target="messages">
    <% @chatroom.messages.sort_by {|obj| obj.created_at }.each do |message| %>
    <div class="align-items-end d-flex gap-2 justify-content-start message-row d-flex <%= message.sender?(current_user) ? 'justify-content-end' : 'justify-content-start' %>">
      <div class="avatar_sender">

       <% user = User.find(message.user_id).nickname%>
       <% if user == "Alex" %>
        <%= image_tag("avatars/avatar_alex.png")%>
       <% elsif user == "Adel" %>
        <%= image_tag("avatars/avatar_adel2.jpeg")%>
       <% elsif user == "Jeremy" %>
        <%= image_tag("avatars/avatar_jeremy.png")%>
       <% elsif user == "Jerome" %>
        <%= image_tag("avatars/avatar_jerome.jpg")%>
       <% end %>

      </div>
      <div class="<%= message.sender?(current_user) ? 'sender-style' : 'receiver-style' %>">

        <%= render "messages/message", message: message %>
      </div>
    </div>
    <% end %>
    <div class="preview-message d-none" data-chatroom-subscription-target="preview">
      <div class="position-relative">
        <p data-chatroom-subscription-target="authorPreview"></p>
        <p data-chatroom-subscription-target="messagePreview"></p>
        <i class="fa-solid fa-xmark position-absolute top-1 end-1" data-action="click->chatroom-subscription#resetForm"></i>
      </div>
    </div>
  </div>


    <%= simple_form_for [@chatroom, @message],
  html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" }, class: "d-flex" } do |f|
  %>

      <%= f.input :response, as: :hidden, input_html: { data: {chatroom_subscription_target: "responseInput" } }%>
      <%= f.input :response_author, as: :hidden, input_html: { data: {chatroom_subscription_target: "resonseAuthorInput" } }%>

      <%= f.input :content, input_html: { data: {chatroom_subscription_target: "focusInput" } },
        label: false,
        placeholder: "Message",
        wrapper_html: {class: "flex-grow-1"}
      %>
  <div>
    <%= image_submit_tag("actuality_logo.png", class: "logo-submit btn ")%>
  </div>
<% end %>
</div>
