<div class="footer <%= controller_name %> ">
  <div class="menu-link">
    <%= link_to root_path do %>
      <%= image_tag("btn_home.png", alt: "home", class: "img_btn") %>
      <p>L'actualité</p>
    <% end %>
  </div>
  <div class="menu-link" id="profile">
    <% if current_user  %>
      <%= link_to user_categories_path do %>
        <%= image_tag(current_user.image_url, alt: "profile", class: "img_btn") %>
        <p>Hello <strong><%=  current_user.nickname %></strong></p>
      <% end %>
    <% end %>
  </div>
  <div class="menu-link">
    <%= link_to searches_path do %>
      <%= image_tag("btn_search.png", alt: "search", class: "img_btn") %>
      <p>Rechercher</p>
    <% end %>
  </div>
</div>
