<div class="footer">
  <div class="footer_img">
    <%= image_tag("footer_img.png", alt: "footer image") %>
  </div>

  <div class="menu">
    <div class="row d-flex">
    <%= link_to chatrooms_path, class: "col1" do %>
      <%= image_tag("btn_click.png", alt: "chat", class: "img_btn") %>
    <% end %>
    <%= link_to user_categories_path, class: "col2" do %>
      <%= image_tag("btn_click.png", alt: "search", class: "img_btn") %>
    <% end %>
    <%= link_to searches_path, class: "col3" do %>
      <%= image_tag("btn_click.png", alt: "menu", class: "img_btn") %>
    <% end %>

    </div>
  </div>

</div>
