<div class="row justify-content-between position-fixed bottom-0 w-100">
  <div class="col ">
    <%= link_to root_path, class: "p-2" do %>
      <%= image_tag("btn_home.png", alt: "Home") %>
    <% end %>
    <%= link_to searches_path, class: "p-2" do %>
      <%= image_tag("btn_search.png", alt: "search") %>
    <% end %>
    <%= link_to user_categories_path, class: "p-2" do %>
      <%= image_tag("btn_menu.png", alt: "menu") %>
    <% end %>
    <%= link_to chatrooms_path, class: "p-2" do %>
      <%= image_tag("btn_chat.png", alt: "chat") %>
    <% end %>
  </div>
</div>
