<h1>Actuality </h1>
<div class="home">
  <% @articles.each do |article| %>
  <div class="card-article">
    <%= link_to article_path(article) do %>
      <div class="image-card">
        <p><%= image_tag article.image_url, style: 'width: 100%;' %></p>
        <div class="col category"><%= article.category&.name %></div>
      </div>
      <button type="button" class="p-1 rounded-circle align-self-end bubble-share" data-bs-toggle="modal" data-bs-target="#shareModal-<%=article.id%>">
          <i class="fa-solid fa-share"></i>
        </button>

      <div class ="text-card p-2">
        <div class="title-card">
          <div><%= article.title%></div>
        </div>
        <p><%= article.description.truncate(150) %></p>
        <div class="row d-flex justify-content-center">
          <div class="col date"><%= article.date_article %></div>
          <div class="col source"><%= article.source %></div>
        </div>
          <div class="lire"><%= link_to "lire...", article.article_url %></div>
      </div>
    <% end %>
    <% unless article.equal?(@articles.last) %>
      <hr style="border-top: 1px solid white;">
      <% end %>
  </div>
  <% end %>
</div>
