<h1>Actuality </h1>
<div class="home">
  <% @articles.each do |article| %>
  <div class="card-article">
    <%= link_to article_path(article) do %>
      <div class="image-card">
        <p><%= image_tag article.image_url, style: 'width: 100%;' %></p>
      </div>
      <div class ="p-3">
        <div class="title-card mt-2">
          <p><%= article.title%></p>
        </div>
          <p><%= article.date_article %></p>
          <p><%= article.category&.name %></p>
          <p><%= article.description %></p>
          <p><%= article.source %></p>
          <div class="text-center">
            <%= link_to article.article_url do %>
              <i class="fa-solid fa-circle-plus fa-xl" style="color: #f20202;"></i>
            <% end %>
          </div>
      </div>
    <% end %>
    <% unless article.equal?(@articles.last) %>
      <hr style="border-top: 1px solid white;">
      <% end %>
  </div>
  <% end %>
</div>
