<!DOCTYPE html>
<html>
  <head>
    <title>Actuality</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
    <%= render 'shared/ios_pwa_links' %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <%= render "shared/navbar" %>
    <div class="container <%  "min-h-100" unless action_name == "show" && controller_name == "chatrooms" %> mb-5">
    <div id="background">
    </div>
    <div class="container <%  "min-h-100" unless action_name == "show" && controller_name == "chatrooms" %> mb-5">
      <%= render "shared/flashes" %>
      <div class="wrapper">
        <%= yield %>
      </div>
      <%= render "shared/footer" %>
    </div>



  </body>
</html>
