<!DOCTYPE html>
<html>
  <head>
    <title>Actuality</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    <link href="https://cdn.jsdelivr.net/npm/tom-select/dist/css/tom-select.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/tom-select/dist/js/tom-select.complete.min.js"></script>
    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
    <%= render 'shared/ios_pwa_links' %>
    <%= javascript_importmap_tags %>
  </head>

  <body id="<%= controller_name %>_<%= action_name %>">
    <div id="background">
    </div>
    <div class="container <%= "container-with-margin-bottom" unless controller_name == "chatrooms" && action_name == "show" %>">
      <%#= render "shared/flashes" %>
      <div class="wrapper">
        <%= yield %>
      </div>
    </div>
    <%= render "shared/footer" %>


  </body>
</html>
